html
  head
    title Payment Demo
    link(href='/css/angular-material.css', rel='stylesheet', type='text/css')
    link(href='/css/index.css', rel='stylesheet', type='text/css')
    script. 
      document.addEventListener( "DOMContentLoaded", function () {
          oak.ready()
        }, false )

  body(ng-app='demoApp' ng-controller='appController as ctl' ng-cloak)
    div(layout="column" layout-align="center center" layout-fill)
      md-content(layout="column" layout-align="start start")
        md-input-container(layout-align="start start")
          label Items
          md-select(ng-model="count"  ng-change="calculateTotal()" style="min-width:200px")
            md-option(ng-repeat="n in [1,2,3,4]" ng-value="n") {{n}}
        md-divider  
        md-input-container
          label Cart Total
          input(ng-model="item.subtotal" ng-change="calculateTotal()")
        md-input-container
          label Tax Rate
          input(ng-model="item.taxRate" ng-change="calculateTotal()")
        md-input-container
          label Tax
          input(readonly ng-model="item.tax" ng-value="item.tax | number:2")
        md-input-container
          label Total
          input(readonly ng-model="item.total" ng-value="item.total | number:2")
        md-button.md-primary.md-raised(ng-click="sendCart(item, $event)") Send Cart
        md-input-container
          md-checkbox(readonly ng-model="debug" ) Debug
        pre(ng-if="debug") {{cart | json}}
      .invisible
        .md-dialog-container#transactionInProgress
          md-dialog(flex=80)
            md-dialog-content.md-dialog-content(layout='column' layout-align="center center")
               h2.md-headline {{paymentStatus}}
            md-dialog-actions
              button.md-button.md-primary.md-raised(ng-click='closePaymentStatus()' ng-disabled="paymentSent") Close
              button.md-button.md-primary.md-raised(ng-click='printReceipt(cart, $event)' ng-disabled="paymentSent") Print Receipt

    script(src="/vendor/lodash.min.js")       
    script(src='/vendor/angular/angular.js')
    script(src='/vendor/angular-aria/angular-aria.js') 
    script(src='/vendor/angular-animate/angular-animate.js') 
    script(src='/vendor/angular-messages/angular-messages.js') 
    script(src='/vendor/angular-material/angular-material.js')
    script(src='/js/index.js') 